
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,800&display=swap');
/* shared style  */
.common-text{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    /* display: inline-flex; */
    padding: 21px 40px;
    /* align-items: flex-start; */
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    margin-top: 20px;

}
  *{
font-family: 'Work Sans', sans-serif;
margin: 0;

  }
  body{
    margin: auto;
  }

  /* nav section  */
  .logo-container>h1{
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
  }
span{
    color: rgba(255,66,165,1);
}
.logo-frame{
    width: 86.041px;
    height: 40px;
    margin-right: 10px;
}
.logo-container{
display: flex;
align-items: center;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul>li{
    list-style: none;
    margin-left: 2rem;
}
nav ul>li a{
    text-decoration: none;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
#follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

/* goat-container section  */

.goat-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.goat-text-part>h3{
    color: rgba(11, 2, 35, 1) #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    

}
.goat-text-part>h1{
    text-align: center;
    font-size: 5.5rem;
    font-weight: 800;
    text-transform: uppercase;
    /* background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.goat-text-part>p{
    color: #534C64;

font-size: 20px;
font-weight: 500;
padding: 5px;
}

#btn-senondary{
    background: #4EC5F7;
}

.big-goat-image{
    width: 500px;
    border: 3px red solid;
}
/* we-are-gamer-container  */
.we-are-gamer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 7rem;
    
}
.gamer-text{
    text-align: right;
}


.shining-text{
    font-size: 48px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-text>p{
    margin-top: 20px;
}

#span{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* responsive section  */

/* For mobile   */
@media screen and (max-width: 576px) {
    nav,nav ul{
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

/* goat-container section  */
.goat-container{
    flex-direction: column-reverse;
    gap: 20px;
    align-content: center;
    /* margin: auto; */
}
 .gamer-pic,.big-goat-image{
    width: 300px;
    margin: 50px auto;
}
#btn-senondary{
    margin-left: 20px;
}

/* .we-are-gamer-container  */
.we-are-gamer-container{
    flex-direction: column;

}
.gamer-text{
    text-align: center;
    border: 2px solid red;
    width: 350px;
    
}


}

@media screen and (min-width: 576px) and (max-width: 960px) {
    


}